* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax{
    position: absolute;
    width: 100%;
    height: 650px;  
    top: 0;
    left: 0;
}

.layer_01{
    background: url("img/01_ground.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 11;
    animation: animate 30s linear infinite;
    
}

.layer_02{
    background-image: url("img/02_trees\ and\ bushes.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 10;
    animation: animate 40s linear infinite;
}

.layer_03{
    background-image: url("img/03_distant_trees.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 9;
    animation: animate 50s linear infinite;
}

.layer_04{
    background-image: url("img/04_bushes.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 8;
    animation: animate 60s linear infinite;
}

.layer_05{
    background-image: url("img/05_hill1.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 7;
    animation: animate 70s linear infinite;
}

.layer_06{
    background-image: url("img/06_hill2.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 6;
    animation: animate 80s linear infinite;
}

.layer_07{
    background-image: url("img/07_huge_clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 5;
    animation: animate 85s linear infinite;
}

.layer_08{
    background-image: url("img/08_clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 4;
    animation: animate 55s linear infinite;
}

.layer_09{
    background-image: url("img/09_distant_clouds1.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 3;
    animation: animate 70s linear infinite;
}

.layer_10{
    background-image: url("img/10_distant_clouds.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 2;
    animation: animate 100s linear infinite;
}

.layer_11{
    background-image: url("img/11_background.png");
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 1;
    animation: animate 100s linear infinite;
}

@keyframes animate {
    from{
        background-position-x: 0px;
    }
    to {
        background-position-x: -2040px;
    }
}

.marsh{
    position: absolute;
    top: 530px;
    left: 100%;
    width: 70px;
    height: 70px;
    background: url("img/marshmallow.png");
    background-size: 70px 70px;
    z-index: 12;
    animation: block 5s linear infinite;
}

@keyframes block {
    0%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

.player{
    position: absolute;
    top: 500px;
    left: 0;
    z-index: 12;
    width: 100px;
    height: 100px;
    background: url("img/run.gif") no-repeat no-repeat;
    background-size: 100px 100px;
}

.jump{
    animation: jump 0.2s linear;
}

@keyframes jump {
    0% {
        top: 500px;
    }
    100% {
        top: 400px;
    }
}






